@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');
.cardContainer{
  display:flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width:400px;
  min-height:600px;
background-color: azure;
border-radius: 2%;
margin: 20px;
}
.gridContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.cardContainer label{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 20px;
  font-weight: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
#info{
  padding-left: 15px;
  padding-bottom: 10px;
  width:100%;
  display: flex;
  flex-direction: column;

}
#imag{
  width:100%;
  height:400px;
  border-radius: 2%;
}
.cardWrapper{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
  input{
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5%;
     font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    margin-right: 10px;
  font-size:25px;
  font-style: normal;
    box-shadow: transparent;
    border-radius: 2% solid transparent;
}
button{
     background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
     font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
    margin-right: 10px;
  font-size:25px;
  font-style: normal;
    box-shadow: transparent;
    border-radius: 2% solid transparent;
}
body{
 background-image: url("https://images.unsplash.com/photo-1560169897-fc0cdbdfa4d5?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=872");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}